<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <%= link_to categories_path do %>
                    <i class="fa fa-table fa-fw"></i>
                    Categories
                <% end %>
            </li>
            <li>
                <%= link_to beers_path do %>
                    <i class="fa fa-edit fa-fw"></i>
                    Beers
                <% end %>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Admin Members<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to "List", users_path %>
                    </li>
                    <li>
                        <%= link_to "Add new", new_user_path %>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->