<h1 class="page-header" >Listing Admin Members</h1>

<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Table
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-lg-1 text-center" >#</th>
                                <th class="col-lg-2 text-center">Name</th>
                                <th class="col-lg-3 text-center">Email</th>
                                <th class="col-lg-4 text-center">Address</th>
                                <th class="col-lg-2 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <%= render partial: "user", collection: @users %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div id="category-modal">
    <%= render "modal_show" %>
</div>

<div class="row">
    <div class="pull-left">
        <div class="text-center">
            <%= paginate @users %>
        </div>
    </div>
    <div class="pull-right pagination">
    <%= link_to 'New User', new_user_path, class: "btn btn-default"%>
    </div>
</div>