<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <ul class="alert alert-danger">
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.label :category %>
  <%= f.select :category_id, @categories ,{include_blank: true}, {class: "form-control"}%>
  </div>

  <div class="form-group">
  <%= f.label :manufacturer %>
  <%= f.text_field :manufacturer, class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.label :country %>
  <%= f.text_field :country, class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.label :price %>
  <%= f.number_field :price, class: "form-control", :step => 'any'%>
  </div>

  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control", rows: "5" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
